* {
  padding: 0;
  margin: 0;
}

section {
    padding-bottom: 20px;
    border-bottom: 2px solid red;
    margin-bottom: 60px;
}

section h3 {
    margin-top: 20px
}

h1 {
    margin-bottom: 20px;
}

/* CSS SELECTORS */
.attribute-selectors li {
    margin-bottom: 12px;
}

.exact-class-name {
    color: blue;
}

p[class="exact-class-name-by-attr"] {
    color: darkgreen;
}

p[class~="tilde"] {
    color: crimson;
}

p[class|="pipe"] {
    color: saddlebrown;
}

p[class^="begins"] {
    color: darkmagenta;
}

p[class$="end"] {
    color: indianred;
}

p[class*="anywhere"] {
    color: seagreen;
}

/* PSEUDO SELECTORS */
.pseudo-selectors p:empty {
    height: 50px;
    background: tomato;
}

.pseudo-nth-child li:nth-child(2) {
    background: silver;
}

.pseudo-nth-child-formula li:nth-child(n + 3) {
    background: silver;
}

.pseudo-nth-last-child-formula li:nth-last-child(n + 3) {
    background: silver;
}

.pseudo-first-child li:first-child {
    background: tomato;
}

.pseudo-last-child li:last-child {
    background: tomato;
}

.pseudo-only-child li:only-child {
    background: lightgreen;
}

.pseudo-first-of-type p:first-of-type {
    background: olive;
}

.pseudo-last-of-type p:last-of-type {
    background: olive;
}

.link-pseudo-selector {
    color: red;
}

.link-pseudo-selector:hover {
    font-weight: bold;
}

.link-pseudo-selector:active {
    text-decoration-style: double;
}

.link-pseudo-selector:visited {
    color: blue
}

.before-after-pseudo-selector::before {
    content: 'This is before';
    color: blue;
    padding-right: 3px;
}

.before-after-pseudo-selector::after {
    content: 'This is after';
    color: red;
    padding-left: 3px;
}


/*input[disabled],*/
input:disabled
{
    opacity: 0.5;
    cursor: not-allowed;
}

/*input[required],*/
input:required
{
    border: 1px solid red;
}

input[type="radio"]:checked + label {
    background: silver;
    color: white
}

input[type="checkbox"]:checked + label {
    background: tomato;
    color: white
}

/* global */
::selection {
    background: red;
    color: white
}

::placeholder {
    color: green
}

.floating-wrapper {
    clear: both;
    float: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.floating-wrapper ul {
    float: right;
    background: gold;
}

.floating-wrapper.clearfix ul {
    background: violet;
}


/* POSITIONING */
.relative-wrapper {
    position: relative;
}

.relative-wrapper h3 {
    position: relative;
    background: chocolate;
    left: 50px;
    top: 10px;
    z-index: 1;
}

.relative-wrapper ul {
    position: absolute;
    background: lime;
    top: 50%;
    left: 50%;
}

.absolute-wrapper {
    position: relative;
}

.absolute-wrapper h3 {
    position: absolute;
    z-index: 2;
    background: sandybrown;
    left: 100px;
    top: 20px;
}

.fixed-wrapper h3 {
    background: blue;
    color: white;
    position: fixed;
    top: 0;
    right: 60px;
}

.sticky-wrapper {
    background: cornflowerblue;
    position: sticky;
    top: 0;
}

.some-content {
    height: 1000px;
}

.box__sizing__example {
    width: 300px;
    height: 150px;
    padding: 5px;
    border: 5px solid red;
    margin: 10px;
}

.box__sizing__example--content-box {
    box-sizing: content-box;
}

.box__sizing__example--border-box {
    box-sizing: border-box;
}

/* BEM */
.button {
/*    font size
line height
font weight
letter spacing
padding
border-width
border-style

*/
}

.button--primary {
    background: white;
    border-color: green
}

.button--secondary {
    background: white;
    border-color: blue;
}


/* MEDIA QUERIES */
.media-queries h2 {
    background: red
}

@media screen and (min-width: 768px) {
    .media-queries h2 {
        background: blue;
    }
}

@media screen and (max-width: 1023px) {
    .media-queries h2 {
        background: pink
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .media-queries h2 {
        background: aquamarine;
    }
}

/* retina devices - 2x pixel density */
@media (min-resolution: 2dppx) {
    .media-queries h3 {
        background: green
    }
}

/* retina devices - 3x pixel density */
@media (min-resolution: 3dppx) {
    .media-queries h3 {
        background: darkcyan;
    }
}


.flexbox {
    display: flex;
}

.flexbox-row-el {
    padding: 20px;
    height: 60px;
    border: 1px solid blue;
    box-sizing: border-box;
}

.flexbox-row-el--static {
    flex: 0 0 auto;
}

.flexbox-row-el--responsive {
    flex: 1 1 25%;
}

.flex-row-el-order--default {
    order: 1;
}

.flex-row-el-order--changed {
    order: 0;
    background: silver;
    color: white;
}

.flex--wrap {
    flex-wrap: wrap
}

.flexbox-row-el--1-2 {
    flex: 1 1 50%;
}

.flexbox-height-1 {
    height: 70px;
}

.flexbox-height-2 {
    height: 90px;
}

.flexbox-height-3 {
    height: 50px;
}

.flexbox-height-4 {
    height: 130px;
}

.flexbox-vertical-alignment {
    align-items: flex-start;
    align-items: center;
    align-items: flex-end;
}

/*.flexbox-vertical-alignment .flexbox-row-el:nth-child(2) {*/
/*    align-self: flex-start;*/
/*}*/

.flexbox-horizontal-alignment {
    justify-content: flex-start;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: flex-end;
}

/*.flexbox-horizontal-alignment .flexbox-row-el:nth-child(1) {*/
/*    margin-right: auto;*/
/*}*/

.transition-square {
    width: 150px;
    height: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: tomato;
    box-sizing: border-box;
    background-color: lime;
}

.transition--single {
    background-color: silver;
    transition: background-color 1s linear;
}

.transition--single:hover {
    background-color: gold;
}

.transition--multiple {
    transition: background-color 1s linear,
        border-color 3s ease-in-out,
        width 2s ease-in-out;
}

.transition--multiple:hover {
    background-color: gold;
    width: 250px;
    border-color: blue;
}

.transition--all {
    transition: all 1s linear;
}

.transition--all:hover {
    background-color: gold;
    width: 250px;
    border-color: blue;
}

.transition--scale {
    transform: scale(1);
    transition: all 1s linear;
}

.transition--scale:hover {
    transform: scale(1.2);
}

.transition--translateX {
    transform: translateX(0);
    transition: all 1s linear;
}

.transition--translateX:hover {
    transform: translateX(100%);
}

.transition--translateY {
    transform: translateY(0);
    transition: all 1s linear;
}

.transition--translateY:hover {
    transform: translateY(-100%);
}

@keyframes animationSimple {
    from {
        background-color: lime;
    }

    to {
        background-color: yellow;
    }
}

.animation--1 {
    animation-name: animationSimple;
    animation-duration: 4s;
}

@keyframes animationComplex {
    0% {
        background-color: lime;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: red;
    }

    75% {
        background-color: black;
    }

    100% {
        background-color: yellow;
    }
}

.animation--2 {
    animation-name: animationComplex;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}


