* {
  padding: 0;
  margin: 0;
}

h1 {
    margin-bottom: 20px;
}

hr {
    margin: 20px 0;
    border-color: red;
}

.floating-wrapper {
    clear: both;
    float: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.floating-wrapper ul {
    float: right;
    background: gold;
}

.floating-wrapper.clearfix ul {
    background: violet;
}


/* POSITIONING */
.relative-wrapper {
    position: relative;
}

.relative-wrapper h3 {
    position: relative;
    background: chocolate;
    left: 50px;
    top: 10px;
    z-index: 1;
}

.relative-wrapper ul {
    position: absolute;
    background: lime;
    top: 50%;
    left: 50%;
}

.absolute-wrapper {
    position: relative;
}

.absolute-wrapper h3 {
    position: absolute;
    z-index: 2;
    background: sandybrown;
    left: 100px;
    top: 20px;
}

.fixed-wrapper h3 {
    background: blue;
    color: white;
    position: fixed;
    top: 0;
    right: 60px;
}

.sticky-wrapper {
    background: cornflowerblue;
    position: sticky;
    top: 0;
}

.some-content {
    height: 1000px;
}

.box__sizing__example {
    width: 300px;
    height: 150px;
    padding: 5px;
    border: 5px solid red;
    margin: 10px;
}

.box__sizing__example--content-box {
    box-sizing: content-box;
}

.box__sizing__example--border-box {
    box-sizing: border-box;
}

/* BEM */
.button {
/*    font size
line height
font weight
letter spacing
padding
border-width
border-style

*/
}

.button--primary {
    background: white;
    border-color: green
}

.button--secondary {
    background: white;
    border-color: blue;
}


/* MEDIA QUERIES */
.media-queries h2 {
    background: red
}

@media screen and (min-width: 768px) {
    .media-queries h2 {
        background: blue;
    }
}

@media screen and (max-width: 1023px) {
    .media-queries h2 {
        background: pink
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .media-queries h2 {
        background: aquamarine;
    }
}

/* retina devices - 2x pixel density */
@media (min-resolution: 2dppx) {
    .media-queries h3 {
        background: green
    }
}

/* retina devices - 3x pixel density */
@media (min-resolution: 3dppx) {
    .media-queries h3 {
        background: darkcyan;
    }
}


