* {
  padding: 0;
  margin: 0;
}

section {
    padding-bottom: 20px;
    border-bottom: 2px solid red;
    margin-bottom: 60px;
}

section h3 {
    margin-top: 20px
}

h1 {
    margin-bottom: 20px;
}

/* CSS SELECTORS */
.attribute-selectors li {
    margin-bottom: 12px;
}

.exact-class-name {
    color: blue;
}

p[class="exact-class-name-by-attr"] {
    color: darkgreen;
}

p[class~="tilde"] {
    color: crimson;
}

p[class|="pipe"] {
    color: saddlebrown;
}

p[class^="begins"] {
    color: darkmagenta;
}

p[class$="end"] {
    color: indianred;
}

p[class*="anywhere"] {
    color: seagreen;
}

/* PSEUDO SELECTORS */
.pseudo-selectors p:empty {
    height: 50px;
    background: tomato;
}

.pseudo-nth-child li:nth-child(2) {
    background: silver;
}

.pseudo-nth-child-formula li:nth-child(n + 3) {
    background: silver;
}

.pseudo-nth-last-child-formula li:nth-last-child(n + 3) {
    background: silver;
}

.pseudo-first-child li:first-child {
    background: tomato;
}

.pseudo-last-child li:last-child {
    background: tomato;
}

.pseudo-only-child li:only-child {
    background: lightgreen;
}

.pseudo-first-of-type p:first-of-type {
    background: olive;
}

.pseudo-last-of-type p:last-of-type {
    background: olive;
}

.link-pseudo-selector {
    color: red;
}

.link-pseudo-selector:hover {
    font-weight: bold;
}

.link-pseudo-selector:active {
    text-decoration-style: double;
}

.link-pseudo-selector:visited {
    color: blue
}

.before-after-pseudo-selector::before {
    content: 'This is before';
    color: blue;
    padding-right: 3px;
}

.before-after-pseudo-selector::after {
    content: 'This is after';
    color: red;
    padding-left: 3px;
}


/*input[disabled],*/
input:disabled
{
    opacity: 0.5;
    cursor: not-allowed;
}

/*input[required],*/
input:required
{
    border: 1px solid red;
}

input[type="radio"]:checked + label {
    background: silver;
    color: white
}

input[type="checkbox"]:checked + label {
    background: tomato;
    color: white
}

/* global */
::selection {
    background: red;
    color: white
}

::placeholder {
    color: green
}

.floating-wrapper {
    clear: both;
    float: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.floating-wrapper ul {
    float: right;
    background: gold;
}

.floating-wrapper.clearfix ul {
    background: violet;
}


/* POSITIONING */
.relative-wrapper {
    position: relative;
}

.relative-wrapper h3 {
    position: relative;
    background: chocolate;
    left: 50px;
    top: 10px;
    z-index: 1;
}

.relative-wrapper ul {
    position: absolute;
    background: lime;
    top: 50%;
    left: 50%;
}

.absolute-wrapper {
    position: relative;
}

.absolute-wrapper h3 {
    position: absolute;
    z-index: 2;
    background: sandybrown;
    left: 100px;
    top: 20px;
}

.fixed-wrapper h3 {
    background: blue;
    color: white;
    position: fixed;
    top: 0;
    right: 60px;
}

.sticky-wrapper {
    background: cornflowerblue;
    position: sticky;
    top: 0;
}

.some-content {
    height: 1000px;
}

.box__sizing__example {
    width: 300px;
    height: 150px;
    padding: 5px;
    border: 5px solid red;
    margin: 10px;
}

.box__sizing__example--content-box {
    box-sizing: content-box;
}

.box__sizing__example--border-box {
    box-sizing: border-box;
}

/* BEM */
.button {
/*    font size
line height
font weight
letter spacing
padding
border-width
border-style

*/
}

.button--primary {
    background: white;
    border-color: green
}

.button--secondary {
    background: white;
    border-color: blue;
}


/* MEDIA QUERIES */
.media-queries h2 {
    background: red
}

@media screen and (min-width: 768px) {
    .media-queries h2 {
        background: blue;
    }
}

@media screen and (max-width: 1023px) {
    .media-queries h2 {
        background: pink
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .media-queries h2 {
        background: aquamarine;
    }
}

/* retina devices - 2x pixel density */
@media (min-resolution: 2dppx) {
    .media-queries h3 {
        background: green
    }
}

/* retina devices - 3x pixel density */
@media (min-resolution: 3dppx) {
    .media-queries h3 {
        background: darkcyan;
    }
}


